<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MyFirstWindowApplication.Properties.Settings.Weltec_MorningConnectionString"
            connectionString="Data Source=LAPTOP-BLNTEBH7\SQLEXPRESS;Initial Catalog=Weltec_Morning;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>